html,body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;

    // 移动端hack
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    -webkit-tap-highlight-color :rgba(0, 0, 0, 0);
    .clearfix:after{
        content:'';
        display:block;
        clear:both;
    }

    #screen{
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background-color: #fff;
        overflow: hidden;
        position: relative;

        .swiper-wrapper{
            width: 100%;
            height: 100%;

            .swiper-slide{
                width: 100%;
                height: 100%;
                overflow: hidden;
                background: url("../img/konka_washer_background.jpg") center center no-repeat;
                background-size: auto 100%;
            }

            #loading{

                .loading-overlay{
                    width: 100%;
                    height: 100%;
                    background: url("../img/loading/loading.gif") center center no-repeat;
                    background-color: transparent;
                    background-size: 60% auto;
                }

                .loaded-overlay{
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: url("../img/loading/why.gif") center 40% no-repeat;
                    background-size: auto 60%;
                    display: none;

                    .loaded-text{
                        width: 66%;
                        position: absolute;
                        top: 38%;
                        left: 17%;
                    }

                    .loaded-btn{
                        width: 40%;
                        position: absolute;
                        bottom: 25%;
                        left: 30%;
                    }

                }

            }

            #main{

                .main-info{
                    position: relative;
                    width: 100%;
                    height: 65%;
                    text-align: center;
                    margin-top: -7%;
                    background: url("../img/main/main-info.png") center center no-repeat;
                    background-size: auto 100%;

                    .main-info-btn{
                        display: inline-block;
                        position: absolute;
                        width: 80%;
                        height: 70%;
                        top: 30%;
                        left: 10%;

                        .left-info-btn{
                            position: absolute;
                            width:36.3%;
                            height:81%;
                            left:0;
                            top:0;
                        }

                        .center-info-btn{
                            position: absolute;
                            width:28%;
                            height:81%;
                            left:36.3%;
                            top:0
                        }

                        .right-info-btn{
                            position: absolute;
                            width:30.7%;
                            height:81%;
                            left:63.6%;
                            top:0;
                        }
                    }

                    img{
                        width: auto;
                        height: 100%;
                    }

                    .main-clickme-btn{
                        width: 2.3rem;
                        height: 2.3rem;
                        display: inline-block;
                        position: absolute;
                        top: 31.5%;
                        right: 21.4%;
                        background: url("../img/main/main-clickme.png") center center no-repeat;
                        background-size: 100% auto;
                    }

                    @-webkit-keyframes wobble {
                        from {
                            -webkit-transform: none;
                            transform: none;
                        }

                        15% {
                            -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
                            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
                        }

                        30% {
                            -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
                            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
                        }

                        45% {
                            -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
                            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
                        }

                        60% {
                            -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
                            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
                        }

                        75% {
                            -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
                            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    @keyframes wobble {
                        from {
                            -webkit-transform: none;
                            transform: none;
                        }

                        15% {
                            -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
                            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
                        }

                        30% {
                            -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
                            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
                        }

                        45% {
                            -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
                            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
                        }

                        60% {
                            -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
                            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
                        }

                        75% {
                            -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
                            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .wobble {
                        -webkit-animation-name: wobble;
                        animation-name: wobble;
                    }

                    .animated {
                        -webkit-animation-duration: 1.3s;
                        animation-duration: 1.3s;
                        -webkit-animation-fill-mode: both;
                        animation-fill-mode: both;
                    }

                    .animated.infinite {
                        -webkit-animation-iteration-count: infinite;
                        animation-iteration-count: infinite;
                    }

                }

                .main-percent{
                    position: relative;
                    width: 80%;
                    //height: 2.5rem;
                    padding: 1.3rem 10% 0.5rem 10%;
                    text-align: center;

                    .percent-container{
                        width: 100%;
                        height: 0.6rem;
                        background-color: rgb(218,218,218);
                        border-radius: 0.7rem;
                        border: 1px solid rgb(99,71,53);
                        position: relative;

                        .percent-box{
                            height: 100%;
                            width: 0%;
                            border-radius: 0.7rem;
                            background-color: rgb(255,254,156);
                            background-size: 1rem 1rem;
                            background-image: linear-gradient(-45deg, transparent 0em, transparent 0.4em, rgb(251,222,50) 0.4em, rgb(251,222,50) 0.8em, transparent 0.8em, transparent 1.1em, rgb(251,222,50) 1.1em);
                            -webkit-animation: warning-animation 750ms infinite linear;
                            -moz-animation: warning-animation 750ms infinite linear;
                            animation: warning-animation 750ms infinite linear;
                            -webkit-transition: width 1s;
                            -moz-transition: width 1s;
                            -ms-transition: width 1s;
                            -o-transition: width 1s;
                            transition: width 1s;
                        }
                        @-webkit-keyframes warning-animation {
                            0% {
                                background-position: 0 0;
                            }
                            100% {
                                background-position: 1em 0;
                            }
                        }
                        @-moz-keyframes warning-animation {
                            0% {
                                background-position: 0 0;
                            }
                            100% {
                                background-position: 1em 0;
                            }
                        }
                        @keyframes warning-animation {
                            0% {
                                background-position: 0 0;
                            }
                            100% {
                                background-position: 1em 0;
                            }
                        }

                        .percent-pop{
                            display: inline-block;
                            width: 1.6rem;
                            height: 1.6rem;
                            background: url("../img/main/percent-pop.png") center center no-repeat;
                            background-size: 100% auto;
                            position: absolute;
                            top: 0;
                            left: 20%;
                            margin-top: -1.6rem;
                            margin-left: -0.8rem;

                            font-size: 0.5rem;
                            color: #3d4145;
                            line-height: 1.4rem;
                            text-align: center;
                        }

                    }

                }

                .main-text{
                    width: 100%;
                    height: 3.6rem;
                    background: url("../img/main/main-text.png") center center no-repeat;
                    background-size: 85% auto;
                    position: relative;

                    .main-text-percent{
                        font-size: 0.6rem;
                        color: #3d4145;
                        display: inline-block;
                        position: absolute;
                        bottom: 21%;
                        left: 17%;
                    }

                    .main-text-time{
                        font-size: 0.6rem;
                        color: #3d4145;
                        display: inline-block;
                        position: absolute;
                        bottom: 21%;
                        right: 20%;
                    }

                }


                i{
                    display: inline-block;
                    width: 50%;
                    height: 1.8rem;
                    position: absolute;
                    bottom: 8%;
                    z-index: 10;
                }
                .buy-btn{
                    left: 0;
                    background: url("../img/main/buy-btn.png") center center no-repeat;
                    background-size: auto 100%;
                }
                .try-btn{
                    right: 0;
                    background: url("../img/main/try-btn.png") center center no-repeat;
                    background-size: auto 100%;
                }



        }

            #animation{
                width:100%;
                height:100%;
                position:relative;
                .top-img-wrapper{
                    width:100%;
                    height:50%;
                    position: relative;

                    img{
                        position:absolute;
                        left:10%;
                        top:0;
                        width:50%;
                        display:none;
                        z-index:10;
                    }

                }

                .more-than{
                    position: fixed;
                    width:5%;
                    left:50%;
                    top:47%;
                    display: none;
                }

                .words-wrapper{
                    width:100%;
                    height:50%;
                    position: relative;

                    img{
                        position: fixed;
                        display:none;
                        z-index:10;
                    }
                    .first-words{
                        width:15%;
                        right:25%;
                        bottom:35%;
                    }
                    .second-words{
                        width:15%;
                        right:10%;
                        bottom:28%;
                    }
                    .animation-star{
                        width:40%;
                        right:10%;
                        bottom:22%;
                    }
                    .animation-des{
                        height:6%;
                        right:30%;
                        bottom:27%;
                    }
                }

                .animation-yiyuan-wrapper{
                    position: fixed;
                    left:0;
                    top:0;
                    width:100%;
                    height:100%;
                    text-align:center;
                    img{
                    }
                    .yiyuan-cover{
                        width:100%;
                        display:none;
                    }
                    .yiyuan-top{
                        position: fixed;
                        left:0;
                        width:100%;
                        display:none;

                    }
                    .yiyuan-title{
                        position: fixed;
                        left:0;
                        width:100%;
                        display:none;
                    }
                    .yiyuan-coin{
                        position: fixed;
                        left:0;
                        width:100%;
                        display:none;
                    }
                }


                .column-wrapper{
                    position: fixed;
                    width:100%;
                    height:100%;
                    left:0;
                    top:0;
                    display:none;

                    img{
                        position: absolute;
                        z-index:9;
                    }

                    .column_left{
                        width:100%;
                        bottom:7%;
                        left:-55%;
                    }
                    .column_right{
                        width:100%;
                        bottom:-17%;
                        right:-75%;
                    }
                    .column_double{
                        position: fixed;
                        width:20%;
                        height:10%;
                        bottom:40%;
                        right:10%;
                        img{
                            position: absolute;
                        }
                        .column_double1{
                            width:80%;
                            left:0;
                        }
                        .column_double2{
                            width:35%;
                            right:0;
                            bottom:5%;
                        }
                    }
                    .column_circle1{
                        width:10%;
                        top:10%;
                        right:15%;
                    }
                    .column_circle2{
                        width:8%;
                        bottom:23%;
                        right:45%;
                    }
                    .column_fine{
                        width:25%;
                        right:-5%;
                        bottom:45%;
                    }

                    .bounceInDown1{
                        -webkit-animation: bounceInDown1 ease-out 3s;
                        animation: bounceInDown1 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown1 {

                        0% {
                            -webkit-transform: translate3d(-200px, -200px, 0);
                            transform: translate3d(-200px, -200px, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(40px, 40px, 0);
                            transform: translate3d(40px, 40px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(-30px, -30px, 0);
                            transform: translate3d(-30px, -30px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(20px, 20px, 0);
                            transform: translate3d(20px, 20px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(-15px, -15px, 0);
                            transform: translate3d(-15px, -15px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(11px, 11px, 0);
                            transform: translate3d(11px, 11px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(-8px, -8px, 0);
                            transform: translate3d(-8px, -8px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(6px, 6px, 0);
                            transform: translate3d(6px, 6px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(-5px, -5px, 0);
                            transform: translate3d(-5px, -5px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(4px, 4px, 0);
                            transform: translate3d(4px, 4px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(-3px, -3px, 0);
                            transform: translate3d(-3px, -3px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown2{
                        -webkit-animation: bounceInDown2 ease-out 3s;
                        animation: bounceInDown2 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown2 {

                        0% {
                            -webkit-transform: translate3d(-200px, -200px, 0);
                            transform: translate3d(-200px, -200px, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(70px, 70px, 0);
                            transform: translate3d(70px, 70px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(-55px, -55px, 0);
                            transform: translate3d(-55px, -55px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(35px, 35px, 0);
                            transform: translate3d(35px, 35px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(-20px, -20px, 0);
                            transform: translate3d(-20px, -20px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(12px, 12px, 0);
                            transform: translate3d(12px, 12px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(-9px, -9px, 0);
                            transform: translate3d(-9px, -9px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(7px, 7px, 0);
                            transform: translate3d(7px, 7px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(-6px, -6px, 0);
                            transform: translate3d(-6px, -6px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(5px, 5px, 0);
                            transform: translate3d(5px, 5px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(-3px, -3px, 0);
                            transform: translate3d(-3px, -3px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown3{
                        -webkit-animation: bounceInDown3 ease-out 3s;
                        animation: bounceInDown3 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown3 {

                        0% {
                            -webkit-transform: translate3d(200px, 200px, 0);
                            transform: translate3d(200px, 200px, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(-40px, -40px, 0);
                            transform: translate3d(-40px, -40px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(30px, 30px, 0);
                            transform: translate3d(30px, 30px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(-20px, -20px, 0);
                            transform: translate3d(-20px, -20px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(15px, 15px, 0);
                            transform: translate3d(15px, 15px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(-11px, -11px, 0);
                            transform: translate3d(-11px, -11px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(8px, 8px, 0);
                            transform: translate3d(8px, 8px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(-6px, -6px, 0);
                            transform: translate3d(-6px, -6px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(5px, 5px, 0);
                            transform: translate3d(5px, 5px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(-4px, -4px, 0);
                            transform: translate3d(-4px, -4px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(3px, 3px, 0);
                            transform: translate3d(3px, 3px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown4{
                        -webkit-animation: bounceInDown4 ease-out 3s;
                        animation: bounceInDown4 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown4 {

                        0% {
                            -webkit-transform: translate3d(100px, 100px, 0);
                            transform: translate3d(100px, 100px, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(-20px, -20px, 0);
                            transform: translate3d(-20px, -20px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(18px, 18px, 0);
                            transform: translate3d(18px, 18px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(-16px, -16px, 0);
                            transform: translate3d(-16px, -16px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(14px, 14px, 0);
                            transform: translate3d(14px, 14px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(-12px, -12px, 0);
                            transform: translate3d(-12px, -12px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(11px, 11px, 0);
                            transform: translate3d(11px, 11px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(-9px, -9px, 0);
                            transform: translate3d(-9px, -9px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(7px, 7px, 0);
                            transform: translate3d(7px, 7px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(-6px, -6px, 0);
                            transform: translate3d(-6px, -6px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(5px, 5px, 0);
                            transform: translate3d(5px, 5px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown5{
                        -webkit-animation: bounceInDown5 ease-out 3s;
                        animation: bounceInDown5 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown5 {

                        0% {
                            -webkit-transform: translate3d(100px, -100px, 0);
                            transform: translate3d(100px, -100px, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(-20px, 20px, 0);
                            transform: translate3d(-20px, 20px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(18px, -18px, 0);
                            transform: translate3d(18px, -18px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(-16px, 16px, 0);
                            transform: translate3d(-16px, 16px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(14px, -14px, 0);
                            transform: translate3d(14px, -14px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(-12px, 12px, 0);
                            transform: translate3d(-12px, 12px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(11px, -11px, 0);
                            transform: translate3d(11px, -11px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(-9px, 9px, 0);
                            transform: translate3d(-9px, 9px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(7px, -7px, 0);
                            transform: translate3d(7px, -7px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(-6px, 6px, 0);
                            transform: translate3d(-6px, 6px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(5px, -5px, 0);
                            transform: translate3d(5px, -5px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown6{
                        -webkit-animation: bounceInDown6 ease-out 3s;
                        animation: bounceInDown6 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown6 {

                        0% {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(12px, 12px, 0);
                            transform: translate3d(12px, 12px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(-9px, -9px, 0);
                            transform: translate3d(-9px, -9px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(8px, 8px, 0);
                            transform: translate3d(8px, 8px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(-7px, -7px, 0);
                            transform: translate3d(-7px, -7px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(6px, 6px, 0);
                            transform: translate3d(6px, 6px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(-5px, -5px, 0);
                            transform: translate3d(-5px, -5px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(4px, 4px, 0);
                            transform: translate3d(4px, 4px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(-3px, -3px, 0);
                            transform: translate3d(-3px, -3px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(2px, 2px, 0);
                            transform: translate3d(2px, 2px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(-1px, -1px, 0);
                            transform: translate3d(-1px, -1px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown7{
                        -webkit-animation: bounceInDown7 ease-out 3s;
                        animation: bounceInDown7 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown7 {

                        0% {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(0, -12px, 0);
                            transform: translate3d(0, -12px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(0, 9px, 0);
                            transform: translate3d(0, 9px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(0, -8px, 0);
                            transform: translate3d(0, -8px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(0, 7px, 0);
                            transform: translate3d(0, 7px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(0, -6px, 0);
                            transform: translate3d(0, -6px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(0, 5px, 0);
                            transform: translate3d(0, 5px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(0, -4px, 0);
                            transform: translate3d(0, -4px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(0, 3px, 0);
                            transform: translate3d(0, 3px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(0, -2px, 0);
                            transform: translate3d(0, -2px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(0, 1px, 0);
                            transform: translate3d(0, 1px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown8{
                        -webkit-animation: bounceInDown8 ease-out 3s;
                        animation: bounceInDown8 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown8 {

                        0% {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(-12px, 12px, 0);
                            transform: translate3d(-12px, 12px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(9px, -9px, 0);
                            transform: translate3d(9px, -9px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(-8px, 8px, 0);
                            transform: translate3d(-8px, 8px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(7px, -7px, 0);
                            transform: translate3d(7px, -7px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(-6px, 6px, 0);
                            transform: translate3d(-6px, 6px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(5px, -5px, 0);
                            transform: translate3d(5px, -5px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(-4px, 4px, 0);
                            transform: translate3d(-4px, 4px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(3px, -3px, 0);
                            transform: translate3d(3px, -3px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(-2px, 2px, 0);
                            transform: translate3d(-2px, 2px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(1px, -1px, 0);
                            transform: translate3d(1px, -1px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown9{
                        -webkit-animation: bounceInDown9 ease-out 3s;
                        animation: bounceInDown9 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown9 {

                        0% {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(12px, 0, 0);
                            transform: translate3d(12px, 0, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(-9px, 0, 0);
                            transform: translate3d(-9px, 0, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(8px, 0, 0);
                            transform: translate3d(8px, 0, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(-7px, 0, 0);
                            transform: translate3d(-7px, 0, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(6px, 0, 0);
                            transform: translate3d(6px, 0, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(-5px, 0, 0);
                            transform: translate3d(-5px, 0, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(4px, 0, 0);
                            transform: translate3d(4px, 0, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(-3px, 0, 0);
                            transform: translate3d(-3px, 0, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(2px, 0, 0);
                            transform: translate3d(2px, 0, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(-1px, 0, 0);
                            transform: translate3d(-1px, 0, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }

                    .bounceInDown10{
                        -webkit-animation: bounceInDown10 ease-out 3s;
                        animation: bounceInDown10 ease-out 3s;
                    }

                    @-webkit-keyframes bounceInDown10 {

                        0% {
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }

                        28% {
                            -webkit-transform: translate3d(0, 18px, 0);
                            transform: translate3d(0, 18px, 0);
                        }
                        37% {
                            -webkit-transform: translate3d(0, -9px, 0);
                            transform: translate3d(0, -9px, 0);
                        }
                        44% {
                            -webkit-transform: translate3d(0, 8px, 0);
                            transform: translate3d(0, 8px, 0);
                        }
                        51% {
                            -webkit-transform: translate3d(0, -7px, 0);
                            transform: translate3d(0, -7px, 0);
                        }
                        58% {
                            -webkit-transform: translate3d(0, 6px, 0);
                            transform: translate3d(0, 6px, 0);
                        }
                        65% {
                            -webkit-transform: translate3d(0, -5px, 0);
                            transform: translate3d(0, -5px, 0);
                        }
                        72% {
                            -webkit-transform: translate3d(0, 4px, 0);
                            transform: translate3d(0, 4px, 0);
                        }
                        79% {
                            -webkit-transform: translate3d(0, -3px, 0);
                            transform: translate3d(0, -3px, 0);
                        }
                        86% {
                            -webkit-transform: translate3d(0, 2px, 0);
                            transform: translate3d(0, 2px, 0);
                        }
                        93% {
                            -webkit-transform: translate3d(0, 1px, 0);
                            transform: translate3d(0, 1px, 0);
                        }

                        to {
                            -webkit-transform: none;
                            transform: none;
                        }
                    }


                    .bounceInDown11{
                        -webkit-animation: bounceInDown11 ease-in 1s;
                        animation: bounceInDown11 ease-in 1s;
                    }
                    @-webkit-keyframes bounceInDown11 {
                        from{
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                        to{
                            -webkit-transform: translate3d(-400px, -400px, 0);
                            transform: translate3d(-400px, -400px, 0);
                        }
                    }


                    .bounceInDown12{
                        -webkit-animation: bounceInDown12 ease-in 1s;
                        animation: bounceInDown12 ease-in 1s;
                    }
                    @-webkit-keyframes bounceInDown12 {
                        from{
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                        to{
                            -webkit-transform: translate3d(200px, 200px, 0);
                            transform: translate3d(200px, 200px, 0);
                        }
                    }
                    .bounceInDown13{
                        -webkit-animation: bounceInDown13 ease-in 1s;
                        animation: bounceInDown13 ease-in 1s;
                    }
                    @-webkit-keyframes bounceInDown13 {
                        from{
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                        to{
                            -webkit-transform: translate3d(300px, 300px, 0);
                            transform: translate3d(300px, 300px, 0);
                        }
                    }

                    .bounceInDown14{
                        -webkit-animation: bounceInDown14 ease-in 1s;
                        animation: bounceInDown14 ease-in 1s;
                    }
                    @-webkit-keyframes bounceInDown14 {
                        from{
                            -webkit-transform: translate3d(0, 0, 0);
                            transform: translate3d(0, 0, 0);
                        }
                        to{
                            -webkit-transform: translate3d(300px, -300px, 0);
                            transform: translate3d(300px, -300px, 0);
                        }
                    }

                }
            }

            #info{

                .swiper-container{
                    width: 100%;
                    height: 100%;
                    overflow: hidden;

                    .swiper-wrapper{
                        width: 100%;
                        height: 100%;

                        .swiper-slide{
                            width: 100%;
                            height: 100%;
                        }
                        .info-green{
                            background: url("../img/info/info-green.png") center 30% no-repeat;
                            background-size:  auto 75%;
                        }
                        .info-red{
                            background: url("../img/info/info-pink.png") center 30% no-repeat;
                            background-size:  auto 75%;
                        }
                        .info-yellow{
                            background: url("../img/info/info-yellow.png") center 30% no-repeat;
                            background-size:  auto 75%;
                        }

                    }

                }

                .swiper-button-next{
                    width: 1rem;
                    background: url("../img/info/right-arrow.png") center center no-repeat;
                    background-size: 100% auto;
                }

                .swiper-button-prev{
                    width: 1rem;
                    background: url("../img/info/left-arrow.png") center center no-repeat;
                    background-size: 100% auto;
                }

                i{
                    display: inline-block;
                    width: 50%;
                    height: 1.8rem;
                    position: absolute;
                    bottom: 6%;
                    z-index: 10;
                }
                .back-btn{
                    left: 3%;
                    background: url("../img/info/back-btn.png") center center no-repeat;
                    background-size: auto 100%;
                }
                .address-btn{
                    right: 3%;
                    background: url("../img/info/address-btn.png") center center no-repeat;
                    background-size: auto 100%;
                }

            }

            #try_form{
                width: 100%;
                height: 100%;

                .try_form_container{
                    width: 100%;
                    height: 95%;
                    margin-top: 7%;
                    position: relative;
                    -webkit-transition: margin-top 0.5s;
                    -moz-transition: margin-top 0.5s;
                    -ms-transition: margin-top 0.5s;
                    -o-transition: margin-top 0.5s;
                    transition: margin-top 0.5s;

                    .try_form_background{
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background: url("../img/try/try_form.png") center center no-repeat;
                        background-size: auto 90%;
                    }

                    input{
                        background-color: transparent;
                        border: 0px;
                        height: 3%;
                        line-height: normal;
                        width: 60%;
                        font-size: 0.75rem;
                        position: absolute;
                        letter-spacing: 1px;
                        color: rgb(120,98,86);
                        left: 18%;
                    }
                    .name{
                        top: 14.9%;
                    }
                    .age{
                        top: 21.3%;
                    }
                    .tel{
                        top: 27.6%;
                    }
                    .address{
                        top: 33.9%;
                    }

                    .check-radio{
                        display: inline-block;
                        width: 1rem;
                        height: 1rem;
                        background: url("../img/dot.png") center center no-repeat;
                        background-size: auto 100%;
                        position: absolute;
                        right: 15%;
                    }
                    .check-radio.active{
                        background: url("../img/dot_active.png") center center no-repeat;
                        background-size: auto 100%;
                    }
                    .reason-1{
                        top: 47.7%;
                    }
                    .reason-2{
                        top: 52.4%;
                    }
                    .reason-3{
                        top: 57%;
                    }

                    .other-reason{
                        background-color: transparent;
                        border: 0px;
                        height: 16%;
                        line-height: normal;
                        width: 57%;
                        font-size: 0.75rem;
                        position: absolute;
                        letter-spacing: 1px;
                        color: rgb(120,98,86);
                        left: 18%;
                        top: 68%;
                    }

                    .try-form-submit-btn{
                        display: inline-block;
                        width: 30%;
                        height: 8%;
                        position: absolute;
                        bottom: 3%;
                        right: 35%;
                        background: url("../img/try/submit-btn.png") center center no-repeat;
                        background-size: 100% auto;
                    }

                    .try-form-back-btn{
                        display: inline-block;
                        width: 30%;
                        height: 8%;
                        position: absolute;
                        bottom: 3%;
                        left: 15%;
                        background: url("../img/info/back-btn.png") center center no-repeat;
                        background-size: 100% auto;
                        display: none;
                    }


                }

            }

            #pay_success{

                .pay-success-form{
                    position: relative;
                    top: 6%;
                    left: 10%;
                    width: 80%;
                    height: 60%;
                    background: url("../img/pay/pay-background.png") center center no-repeat;
                    background-size: 100% auto;

                    span{
                        display: inline-block;
                        text-align: right;
                        font-size: 0.65rem;
                        color: #3d4145;
                        width: 70%;
                        height: 0.8rem;
                        line-height: normal;
                        position: absolute;
                        right: 0;
                        overflow: hidden;
                        text-overflow:ellipsis;
                    }
                    #create_time{
                        top: 52.1%;
                    }
                    #charge_name{
                        top: 58.2%;
                    }
                    #pay_channel{
                        top: 64.6%;
                    }
                    #owner{
                        top: 71.3%;
                    }
                    #order_no{
                        top: 78%;
                    }
                    #charge_id{
                        top: 85.1%;
                    }

                }

                .complete-btn{
                    display: inline-block;
                    width: 50%;
                    height: 1.8rem;
                    background: url("../img/pay/complete-btn.png") center center no-repeat;
                    background-size: auto 100%;
                    position: absolute;
                    bottom: 20%;
                    left: 25%;
                }

            }

        }

        #icon-bar{
            width: 90%;
            height: 1.2rem;
            padding: 0 5%;
            position: absolute;
            top: 0.7rem;
            left: 0;
            z-index: 10;

            i{
                display: inline-block;
                width: 1.2rem;
                height: 1.2rem;
            }

            #logo{
                width: 30%;
                background: url("../img/logo.png") left center no-repeat;
                background-size: auto 60%;
                float: left;
            }

            #rules_btn{
                background: url("../img/rules_btn.png") center center no-repeat;
                background-size: auto 100%;
                float: right;
                margin-right: 2.5%;
                display: none;
            }

            #music_btn{
                background: url("../img/music_btn.png") center center no-repeat;
                background-size: auto 100%;
                float: right;
            }

            @-webkit-keyframes rotate {
                from {
                    -webkit-transform:rotate(0deg);
                    transform:rotate(0deg);
                }

                to {
                    -webkit-transform:rotate(360deg);
                    transform:rotate(360deg);
                }
            }

            @keyframes rotate {
                from {
                    -webkit-transform:rotate(0deg);
                    transform:rotate(0deg);
                }

                to {
                    -webkit-transform:rotate(360deg);
                    transform:rotate(360deg);
                }
            }

            .rotate {
                animation: 11.5s linear 0s normal none infinite rotate;
                -webkit-animation: 11.5s linear 0s normal none infinite rotate;
            }

        }


    }
    .overlay{
        width: 100%;
        display: none;
        text-align: center;

        .img-div{
            position: relative;

            .pay-overlay-close-btn{
                display: inline-block;
                width: 2rem;
                height: 2rem;
                position: absolute;
                top: 0 !important;
                right: 0 !important;
            }

            .pay-overlay-submit-btn{
                display: inline-block;
                width: 50%;
                height: 10%;
                position: absolute;
                bottom: 8% !important;
                left: 25% !important;
            }

        }

    }
    .overlay#pay_overlay{

        input{
            background-color: transparent;
            border: 0px;
            height: 5%;
            line-height: normal;
            width: 70%;
            font-size: 0.75rem;
            position: absolute;
            letter-spacing: 1px;
            color: rgb(120,98,86);
            left: 15%;
        }
        .name{
            top: 22.6%;
        }
        .age{
            top: 32.6%;
        }
        .tel{
            top: 42.7%;
        }
        .address{
            top: 52.7%;
        }

        i.check-radio{
            display: inline-block;
            position: absolute;
            width: 0.9rem;
            height: 0.9rem;
            background: url("../img/dot.png") center center no-repeat;
            background-size: auto 100%;
        }
        i.check-radio.active{
            background: url("../img/dot_active.png") center center no-repeat;
            background-size: auto 100%;
        }
        .sex-female {
            top: 62.2%;
            left: 42%;
        }
        .sex-male{
            top: 62.2%;
            right: 30.8%;
        }
        .baby-yes{
            top: 69.5%;
            left: 42%;
        }
        .baby-no{
            top: 69.5%;
            right: 30.8%;
        }

    }

    #pay_succcess_overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
        display: none;

        img{
            width: 100%;
            height: 100%;
        }

        .overlay-btn-container{
            width: 100%;
            height: 2rem;
            position: absolute;
            bottom: 15%;
            left: 0;
            text-align: center;

            .overlay-back-btn{
                color: #fff;
                border: 1px solid #fff;
                font-size: 0.7rem;
                height: 2rem;
                line-height: normal;
                width: 5rem;
                border-radius: 0.2rem;
                margin: 0 auto;
                background-color: transparent;
            }

        }

    }

    #try_complete_overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 50;
        display: none;

        img{
            width: 100%;
            height: 100%;
        }

        .overlay-btn-container{
            width: 100%;
            height: 2rem;
            position: absolute;
            bottom: 15%;
            left: 0;
            text-align: center;

            .overlay-back-btn{
                color: #fff;
                border: 1px solid #fff;
                font-size: 0.7rem;
                height: 2rem;
                line-height: normal;
                width: 5rem;
                border-radius: 0.2rem;
                margin: 0 auto;
                background-color: transparent;
            }

        }

    }
}
