html,
body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html .clearfix,
body .clearfix {
  clear: both;
}
html #screen,
body #screen {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
html #screen .swiper-wrapper,
body #screen .swiper-wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
html #screen .swiper-wrapper .swiper-slide,
body #screen .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
html #screen .swiper-wrapper #loading,
body #screen .swiper-wrapper #loading {
  background: url("../img/loading/loading_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #loading .loading-overlay,
body #screen .swiper-wrapper #loading .loading-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
html #screen .swiper-wrapper #loading .logo,
body #screen .swiper-wrapper #loading .logo {
  position: absolute;
  top: 6.5rem;
  left: 50%;
  width: 2.2rem;
  margin-left: -1.1rem;
  z-index: 10;
}
html #screen .swiper-wrapper #loading .cloud_1,
body #screen .swiper-wrapper #loading .cloud_1 {
  position: absolute;
  top: -1rem;
  left: -0.5rem;
  width: auto;
  height: 82%;
}
html #screen .swiper-wrapper #loading .cloud_2,
body #screen .swiper-wrapper #loading .cloud_2 {
  position: absolute;
  top: -2rem;
  left: 0;
  width: auto;
  height: 82%;
}
html #screen .swiper-wrapper #loading .loaded-out,
body #screen .swiper-wrapper #loading .loaded-out {
  opacity: 1;
  transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
}
html #screen .swiper-wrapper #loading .loading-text,
body #screen .swiper-wrapper #loading .loading-text {
  position: absolute;
  top: 5rem;
  left: 15%;
  width: 70%;
  height: auto;
  display: none;
}
@-webkit-keyframes fromRight {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
  }
}
@keyframes fromRight {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  to {
    -webkit-transform: translateX(-800px);
    transform: translateX(-800px);
  }
}
html #screen .swiper-wrapper #loading .fromRight,
body #screen .swiper-wrapper #loading .fromRight {
  -webkit-animation-name: fromRight;
  animation-name: fromRight;
}
html #screen .swiper-wrapper #loading .animated-60000,
body #screen .swiper-wrapper #loading .animated-60000 {
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
html #screen .swiper-wrapper #loading .animated-90000,
body #screen .swiper-wrapper #loading .animated-90000 {
  -webkit-animation-duration: 60s;
  animation-duration: 60s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
html #screen .swiper-wrapper #main,
body #screen .swiper-wrapper #main {
  background: url("../img/main/main_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #main .btn-container,
body #screen .swiper-wrapper #main .btn-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 19%;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row,
body #screen .swiper-wrapper #main .btn-container .btn-container-row {
  width: 100%;
  height: 50%;
  text-align: center;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row i,
body #screen .swiper-wrapper #main .btn-container .btn-container-row i {
  display: inline-block;
  width: 49%;
  height: 100%;
  overflow: hidden;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row .same-btn,
body #screen .swiper-wrapper #main .btn-container .btn-container-row .same-btn {
  background: url("../img/main/same_btn.png") center center no-repeat;
  background-size: auto 45%;
  text-align: center;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row .film-btn,
body #screen .swiper-wrapper #main .btn-container .btn-container-row .film-btn {
  background: url("../img/main/film_btn.png") center 13px no-repeat;
  background-size: auto 36%;
  text-align: center;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row .talk-btn,
body #screen .swiper-wrapper #main .btn-container .btn-container-row .talk-btn {
  background: url("../img/main/talk_btn.png") center 8px no-repeat;
  background-size: auto 45%;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container,
body #screen .swiper-wrapper #menu .menu-container {
  width: 100%;
  height: 100%;
  background: url("../img/menu/menu_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container .logo-container,
body #screen .swiper-wrapper #menu .menu-container .logo-container {
  width: 100%;
  height: 2.3rem;
  position: absolute;
  top: 1.5rem;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container .logo-container .logo,
body #screen .swiper-wrapper #menu .menu-container .logo-container .logo {
  width: auto;
  height: 2.3rem;
  margin: 0 auto;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container .category-container,
body #screen .swiper-wrapper #menu .menu-container .category-container {
  width: 72%;
  height: 66%;
  position: absolute;
  bottom: 17%;
  left: 0;
  padding: 0 14%;
}
html #screen .swiper-wrapper #menu .menu-container .category-container .category-item,
body #screen .swiper-wrapper #menu .menu-container .category-container .category-item {
  width: 100%;
  height: 32%;
  margin-top: 3%;
}
html #screen .swiper-wrapper #menu .menu-container .category-container .category-item .category-img,
body #screen .swiper-wrapper #menu .menu-container .category-container .category-item .category-img {
  width: 100%;
  height: 100%;
}
html #screen .swiper-wrapper #menu .menu-container .category-container .category-item:first-child,
body #screen .swiper-wrapper #menu .menu-container .category-container .category-item:first-child {
  margin-top: 0;
}
html #screen .swiper-wrapper #menu .menu-container .btn-container,
body #screen .swiper-wrapper #menu .menu-container .btn-container {
  width: 100%;
  height: 12.2%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container .btn-container .back-btn,
body #screen .swiper-wrapper #menu .menu-container .btn-container .back-btn {
  display: inline-block;
  height: 100%;
  width: 27%;
  background: url("../img/menu/back_btn.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-preload,
body #screen .swiper-wrapper #category .category-preload {
  display: none;
}
html #screen .swiper-wrapper #category .category-container,
body #screen .swiper-wrapper #category .category-container {
  width: 100%;
  height: 100%;
}
html #screen .swiper-wrapper #category .category-container .category-page,
body #screen .swiper-wrapper #category .category-container .category-page {
  width: 100%;
  height: 100%;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container {
  width: 100%;
  height: 1.5rem;
  position: absolute;
  top: 2.5rem;
  left: 0;
  float: left;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul {
  display: inline-block;
  width: 70%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0 15%;
  float: left;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 22%;
  height: 100%;
  float: left;
  margin-right: 4%;
  overflow: hidden;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li img,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li:last-child,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li:last-child {
  margin-right: 0;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.jiezhi,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.jiezhi {
  background: url("../img/category/jiezhi.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.erhuan,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.erhuan {
  background: url("../img/category/erhuan.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.diaozhui,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.diaozhui {
  background: url("../img/category/diaozhui.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.shoulian,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.shoulian {
  background: url("../img/category/shoulian.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.jiezhi.active,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.jiezhi.active {
  background: url("../img/category/jiezhi_active.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.erhuan.active,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.erhuan.active {
  background: url("../img/category/erhuan_active.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.diaozhui.active,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.diaozhui.active {
  background: url("../img/category/diaozhui_active.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.shoulian.active,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.shoulian.active {
  background: url("../img/category/shoulian_active.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container {
  width: 100%;
  height: 36%;
  position: absolute;
  top: 16%;
  left: 0;
  background-color: transparent;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-color: transparent;
  text-align: center;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i {
  display: inline-block;
  height: 100%;
  width: 65%;
  margin: 0 auto;
  text-align: center;
  background-color: #6e727b;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_jiezhi_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_jiezhi_1 {
  background: url("../img/category/category_3/category_3_jiezhi_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_jiezhi_2,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_jiezhi_2 {
  background: url("../img/category/category_3/category_3_jiezhi_2.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_erhuan_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_erhuan_1 {
  background: url("../img/category/category_3/category_3_erhuan_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_erhuan_2,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_erhuan_2 {
  background: url("../img/category/category_3/category_3_erhuan_2.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_erhuan_3,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_erhuan_3 {
  background: url("../img/category/category_3/category_3_erhuan_3.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_erhuan_4,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_erhuan_4 {
  background: url("../img/category/category_3/category_3_erhuan_4.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_diaozhui_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_diaozhui_1 {
  background: url("../img/category/category_3/category_3_diaozhui_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_diaozhui_2,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_diaozhui_2 {
  background: url("../img/category/category_3/category_3_diaozhui_2.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_diaozhui_3,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_diaozhui_3 {
  background: url("../img/category/category_3/category_3_diaozhui_3.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_diaozhui_4,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_diaozhui_4 {
  background: url("../img/category/category_3/category_3_diaozhui_4.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_shoulian_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_3_shoulian_1 {
  background: url("../img/category/category_3/category_3_shoulian_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_1 {
  background: url("../img/category/category_1/category_1_jiezhi_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_2,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_2 {
  background: url("../img/category/category_1/category_1_jiezhi_2.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_3,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_3 {
  background: url("../img/category/category_1/category_1_jiezhi_3.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_4,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_4 {
  background: url("../img/category/category_1/category_1_jiezhi_4.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_5,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_jiezhi_5 {
  background: url("../img/category/category_1/category_1_jiezhi_5.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_erhuan_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_erhuan_1 {
  background: url("../img/category/category_1/category_1_erhuan_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_erhuan_2,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_erhuan_2 {
  background: url("../img/category/category_1/category_1_erhuan_2.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_erhuan_3,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_erhuan_3 {
  background: url("../img/category/category_1/category_1_erhuan_3.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_diaozhui_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_diaozhui_1 {
  background: url("../img/category/category_1/category_1_diaozhui_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_diaozhui_2,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_diaozhui_2 {
  background: url("../img/category/category_1/category_1_diaozhui_2.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_diaozhui_3,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_1_diaozhui_3 {
  background: url("../img/category/category_1/category_1_diaozhui_3.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_jiezhi_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_jiezhi_1 {
  background: url("../img/category/category_2/category_2_jiezhi_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_1 {
  background: url("../img/category/category_2/category_2_erhuan_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_2,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_2 {
  background: url("../img/category/category_2/category_2_erhuan_2.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_3,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_3 {
  background: url("../img/category/category_2/category_2_erhuan_3.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_4,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_4 {
  background: url("../img/category/category_2/category_2_erhuan_4.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_5,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_5 {
  background: url("../img/category/category_2/category_2_erhuan_5.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_6,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_6 {
  background: url("../img/category/category_2/category_2_erhuan_6.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_7,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_erhuan_7 {
  background: url("../img/category/category_2/category_2_erhuan_7.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_1 {
  background: url("../img/category/category_2/category_2_diaozhui_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_2,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_2 {
  background: url("../img/category/category_2/category_2_diaozhui_2.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_3,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_3 {
  background: url("../img/category/category_2/category_2_diaozhui_3.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_4,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_4 {
  background: url("../img/category/category_2/category_2_diaozhui_4.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_5,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_diaozhui_5 {
  background: url("../img/category/category_2/category_2_diaozhui_5.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_shoulian_1,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide i.category_2_shoulian_1 {
  background: url("../img/category/category_2/category_2_shoulian_1.png") center center no-repeat;
  background-size: contain;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-button-prev,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-button-prev {
  cursor: pointer;
  background: url('../img/category/left_arrow.png') center center no-repeat;
  background-size: 20px auto;
  top: 65%;
  left: 0;
  width: 50px;
  height: 50px;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-button-next,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-button-next {
  cursor: pointer;
  background: url('../img/category/right_arrow.png') center center no-repeat;
  background-size: 20px auto;
  top: 65%;
  right: 0px;
  width: 50px;
  height: 50px;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container {
  width: 100%;
  height: 12.2%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container i,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container i {
  float: left;
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #3d4145;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container .share-btn,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container .share-btn {
  background: url("../img/category/share_btn.png") center center no-repeat;
  background-size: 45% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container .back-btn,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container .back-btn {
  background: url("../img/category/back_btn.png") center center no-repeat;
  background-size: 50% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container:after,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container:after {
  clear: both;
}
html #screen .swiper-wrapper #category .category-container .category-page .share-overlay,
body #screen .swiper-wrapper #category .category-container .category-page .share-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: url("../img/category/share-signal.png") center center no-repeat;
  background-size: 100% 100%;
  display: none;
}
html #screen .swiper-wrapper #category .category-container .category-page-1,
body #screen .swiper-wrapper #category .category-container .category-page-1 {
  background: url("../img/category/category_1/category_1_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #category .category-container .category-page-1 .menu-container ul,
body #screen .swiper-wrapper #category .category-container .category-page-1 .menu-container ul {
  width: 52.5%;
  padding: 0 23.75%;
}
html #screen .swiper-wrapper #category .category-container .category-page-1 .menu-container ul li,
body #screen .swiper-wrapper #category .category-container .category-page-1 .menu-container ul li {
  width: 30%;
  margin-right: 5%;
}
html #screen .swiper-wrapper #category .category-container .category-page-1 .menu-container ul li:last-child,
body #screen .swiper-wrapper #category .category-container .category-page-1 .menu-container ul li:last-child {
  margin-right: 0;
}
html #screen .swiper-wrapper #category .category-container .category-page-2,
body #screen .swiper-wrapper #category .category-container .category-page-2 {
  background: url("../img/category/category_2/category_2_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #category .category-container .category-page-3,
body #screen .swiper-wrapper #category .category-container .category-page-3 {
  background: url("../img/category/category_3/category_3_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #video .video-background,
body #screen .swiper-wrapper #video .video-background {
  width: 100%;
  height: 100%;
  background: url("../img/loading/loading_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
html #screen .swiper-wrapper #video .video-background .cloud_1,
body #screen .swiper-wrapper #video .video-background .cloud_1 {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: auto;
}
html #screen .swiper-wrapper #video .video-background .cloud_2,
body #screen .swiper-wrapper #video .video-background .cloud_2 {
  position: absolute;
  top: -2rem;
  left: -1rem;
  width: auto;
  height: 82%;
}
html #screen .swiper-wrapper #video .video-container,
body #screen .swiper-wrapper #video .video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
html #screen .swiper-wrapper #video .video-container .video-container-overlay,
body #screen .swiper-wrapper #video .video-container .video-container-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}
html #screen .swiper-wrapper #video .video-container .close_btn,
body #screen .swiper-wrapper #video .video-container .close_btn {
  display: inline-block;
  width: 2.7rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/video/close_btn.png") center center no-repeat;
  background-size: 1.1rem 1.1rem;
}
html #screen .swiper-wrapper #video .video-container .logo,
body #screen .swiper-wrapper #video .video-container .logo {
  width: 100%;
  height: 2.2rem;
  background: url("../img/video/video_logo.png") center center no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 2.7rem;
  left: 0;
}
html #screen .swiper-wrapper #video .video-container .video-text,
body #screen .swiper-wrapper #video .video-container .video-text {
  width: 100%;
  height: 1.7rem;
  background: url("../img/video/video_text.png") center center no-repeat;
  background-size: auto 100%;
  position: absolute;
  bottom: 4.5rem;
  left: 0;
}
html #screen .swiper-wrapper #video .video-container #WxMomentVideo,
body #screen .swiper-wrapper #video .video-container #WxMomentVideo {
  position: absolute;
  width: 100%;
  height: 10.6rem;
  top: 29%;
  left: 0;
}
html #screen .swiper-wrapper #emoticon .emoticon-container,
body #screen .swiper-wrapper #emoticon .emoticon-container {
  background: url('../img/emoticon/emoticon_background.png') center center no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .top-part,
body #screen .swiper-wrapper #emoticon .emoticon-container .top-part {
  position: relative;
  width: 100%;
  height: 37vh;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .words-pic,
body #screen .swiper-wrapper #emoticon .emoticon-container .words-pic {
  position: absolute;
  width: 30%;
  top: 1.5rem;
  right: 8%;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .content-part,
body #screen .swiper-wrapper #emoticon .emoticon-container .content-part {
  width: 90%;
  height: 35vh;
  margin: 0 auto;
  border: 1px solid #e5e5e5;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .pic-item,
body #screen .swiper-wrapper #emoticon .emoticon-container .pic-item {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .pic-item .item,
body #screen .swiper-wrapper #emoticon .emoticon-container .pic-item .item {
  width: 33%;
  height: 100%;
  float: left;
  text-align: center;
  border-right: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .pic-item .item img,
body #screen .swiper-wrapper #emoticon .emoticon-container .pic-item .item img {
  max-width: 95%;
  max-height: 95%;
  vertical-align: middle;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .swiper-slide.swiper-slide-next,
body #screen .swiper-wrapper #emoticon .emoticon-container .swiper-slide.swiper-slide-next {
  pointer-events: none;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .swiper-slide .item:nth-child(3),
body #screen .swiper-wrapper #emoticon .emoticon-container .swiper-slide .item:nth-child(3),
html #screen .swiper-wrapper #emoticon .emoticon-container .swiper-slide .item:nth-child(6),
body #screen .swiper-wrapper #emoticon .emoticon-container .swiper-slide .item:nth-child(6) {
  border-right: none;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .bottom-part,
body #screen .swiper-wrapper #emoticon .emoticon-container .bottom-part {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 20vh;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .download-btns,
body #screen .swiper-wrapper #emoticon .emoticon-container .download-btns {
  width: 100%;
  height: 2.6rem;
  text-align: center;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .download-btns img,
body #screen .swiper-wrapper #emoticon .emoticon-container .download-btns img {
  height: 1.8rem;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .btn-group,
body #screen .swiper-wrapper #emoticon .emoticon-container .btn-group {
  position: absolute;
  height: 3.5rem;
  width: 100%;
  bottom: 0;
  left: 0;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .btn-group i,
body #screen .swiper-wrapper #emoticon .emoticon-container .btn-group i {
  display: inline-block;
  float: left;
  width: 49.9%;
  height: 100%;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .btn-group .share-btn,
body #screen .swiper-wrapper #emoticon .emoticon-container .btn-group .share-btn {
  background: url("../img/emoticon/share_btn.png") center center no-repeat;
  background-size: 45% auto;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .btn-group .back-btn,
body #screen .swiper-wrapper #emoticon .emoticon-container .btn-group .back-btn {
  background: url("../img/emoticon/back_btn.png") center center no-repeat;
  background-size: 53% auto;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .swiper-button-next,
body #screen .swiper-wrapper #emoticon .emoticon-container .swiper-button-next {
  position: absolute;
  background-image: url(../img/wechatfeeds/ptad-down-arrow.png) !important;
  background-size: 100% !important;
  width: 30px !important;
  height: 15px !important;
  top: 79% !important;
  left: 50% !important;
  margin-left: -14px;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .swiper-button-prev,
body #screen .swiper-wrapper #emoticon .emoticon-container .swiper-button-prev {
  position: absolute;
  background-image: url(../img/wechatfeeds/ptad-up-arrow.png) !important;
  background-size: 100% !important;
  width: 30px !important;
  height: 15px !important;
  top: 35% !important;
  left: 50% !important;
  margin-left: -14px;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .act-pic,
body #screen .swiper-wrapper #emoticon .emoticon-container .act-pic {
  display: none;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #fff;
  text-align: center;
  z-index: 11;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .artMove,
body #screen .swiper-wrapper #emoticon .emoticon-container .artMove {
  -webkit-animation: artPicMove 0.2s ease-out;
  -o-animation: artPicMove 0.2s ease-out;
  animation: artPicMove 0.2s ease-out;
}
@keyframes artPicMove {
  from {
    opacity: 0;
    -webkit-transform: translateY(-1.5rem);
    -moz-transform: translateY(-1.5rem);
    -ms-transform: translateY(-1.5rem);
    -o-transform: translateY(-1.5rem);
    transform: translateY(-1.5rem);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}
html #screen .swiper-wrapper #emoticon .emoticon-container .triangle-down,
body #screen .swiper-wrapper #emoticon .emoticon-container .triangle-down {
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .gray-arrow,
body #screen .swiper-wrapper #emoticon .emoticon-container .gray-arrow {
  bottom: -10px;
  border-top: 10px solid #ccc;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .white-arrow,
body #screen .swiper-wrapper #emoticon .emoticon-container .white-arrow {
  bottom: -9px;
  border-top: 10px solid #fff;
}
html #screen .swiper-wrapper #emoticon .emoticon-container .share-overlay,
body #screen .swiper-wrapper #emoticon .emoticon-container .share-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: url("../img/category/share-signal.png") center center no-repeat;
  background-size: 100% 100%;
  display: none;
}
