html,
body {
  width: 100%;
  height: 100%;
  font-size: 20px;
  background-color: #ffffff;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html #screen,
body #screen {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
html #screen .swiper-wrapper,
body #screen .swiper-wrapper {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
html #screen .swiper-wrapper .swiper-slide,
body #screen .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}
html #screen .swiper-wrapper #loading,
body #screen .swiper-wrapper #loading {
  background: url("../img/loading/loading_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #loading .logo,
body #screen .swiper-wrapper #loading .logo {
  position: fixed;
  top: 6.5rem;
  left: 50%;
  width: 2.2rem;
  margin-left: -1.1rem;
  z-index: 10;
}
html #screen .swiper-wrapper #loading .cloud_1,
body #screen .swiper-wrapper #loading .cloud_1 {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: auto;
}
html #screen .swiper-wrapper #loading .cloud_2,
body #screen .swiper-wrapper #loading .cloud_2 {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: auto;
}
html #screen .swiper-wrapper #loading .loading-text,
body #screen .swiper-wrapper #loading .loading-text {
  position: absolute;
  top: 5rem;
  left: 0;
  width: 100%;
  height: 10rem;
  background-color: #0a8ddf;
  display: none;
}
html #screen .swiper-wrapper #main,
body #screen .swiper-wrapper #main {
  background: url("../img/main/main_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #main .btn-container,
body #screen .swiper-wrapper #main .btn-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 19%;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row,
body #screen .swiper-wrapper #main .btn-container .btn-container-row {
  width: 100%;
  height: 50%;
  text-align: center;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row i,
body #screen .swiper-wrapper #main .btn-container .btn-container-row i {
  display: inline-block;
  width: 49%;
  height: 100%;
  overflow: hidden;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row .same-btn,
body #screen .swiper-wrapper #main .btn-container .btn-container-row .same-btn {
  background: url("../img/main/same_btn.png") center center no-repeat;
  background-size: auto 45%;
  text-align: center;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row .film-btn,
body #screen .swiper-wrapper #main .btn-container .btn-container-row .film-btn {
  background: url("../img/main/film_btn.png") center 13px no-repeat;
  background-size: auto 36%;
  text-align: center;
}
html #screen .swiper-wrapper #main .btn-container .btn-container-row .talk-btn,
body #screen .swiper-wrapper #main .btn-container .btn-container-row .talk-btn {
  background: url("../img/main/talk_btn.png") center 8px no-repeat;
  background-size: auto 45%;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container,
body #screen .swiper-wrapper #menu .menu-container {
  width: 100%;
  height: 100%;
  background: url("../img/menu/menu_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container .logo-container,
body #screen .swiper-wrapper #menu .menu-container .logo-container {
  width: 100%;
  height: 2.3rem;
  position: absolute;
  top: 1.5rem;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container .logo-container .logo,
body #screen .swiper-wrapper #menu .menu-container .logo-container .logo {
  width: auto;
  height: 2.3rem;
  margin: 0 auto;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container .category-container,
body #screen .swiper-wrapper #menu .menu-container .category-container {
  width: 72%;
  height: 66%;
  position: absolute;
  bottom: 17%;
  left: 0;
  padding: 0 14%;
}
html #screen .swiper-wrapper #menu .menu-container .category-container .category-item,
body #screen .swiper-wrapper #menu .menu-container .category-container .category-item {
  width: 100%;
  height: 32%;
  margin-top: 3%;
}
html #screen .swiper-wrapper #menu .menu-container .category-container .category-item .category-img,
body #screen .swiper-wrapper #menu .menu-container .category-container .category-item .category-img {
  width: 100%;
  height: 100%;
}
html #screen .swiper-wrapper #menu .menu-container .category-container .category-item:first-child,
body #screen .swiper-wrapper #menu .menu-container .category-container .category-item:first-child {
  margin-top: 0;
}
html #screen .swiper-wrapper #menu .menu-container .btn-container,
body #screen .swiper-wrapper #menu .menu-container .btn-container {
  width: 100%;
  height: 12.2%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
html #screen .swiper-wrapper #menu .menu-container .btn-container .back-btn,
body #screen .swiper-wrapper #menu .menu-container .btn-container .back-btn {
  display: inline-block;
  height: 100%;
  width: 27%;
  background: url("../img/menu/back_btn.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container,
body #screen .swiper-wrapper #category .category-container {
  width: 100%;
  height: 100%;
}
html #screen .swiper-wrapper #category .category-container .category-page,
body #screen .swiper-wrapper #category .category-container .category-page {
  width: 100%;
  height: 100%;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container {
  width: 100%;
  height: 1.5rem;
  position: absolute;
  top: 2.5rem;
  left: 0;
  float: left;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul {
  display: inline-block;
  width: 70%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0 15%;
  float: left;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: inline-block;
  width: 22%;
  height: 100%;
  float: left;
  margin-right: 4%;
  overflow: hidden;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li img,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li img {
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li:last-child,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li:last-child {
  margin-right: 0;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.jiezhi,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.jiezhi {
  background: url("../img/category/jiezhi.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.erhuan,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.erhuan {
  background: url("../img/category/erhuan.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.diaozhui,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.diaozhui {
  background: url("../img/category/diaozhui.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.shoulian,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.shoulian {
  background: url("../img/category/shoulian.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.jiezhi.active,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.jiezhi.active {
  background: url("../img/category/jiezhi_active.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.erhuan.active,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.erhuan.active {
  background: url("../img/category/erhuan_active.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.diaozhui.active,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.diaozhui.active {
  background: url("../img/category/diaozhui_active.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.shoulian.active,
body #screen .swiper-wrapper #category .category-container .category-page .menu-container ul li.shoulian.active {
  background: url("../img/category/shoulian_active.png") center center no-repeat;
  background-size: 100% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container {
  width: 100%;
  height: 36%;
  position: absolute;
  top: 16%;
  left: 0;
  background-color: transparent;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide {
  width: 100%;
  height: 100%;
  background-color: transparent;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide img,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-wrapper .swiper-slide img {
  max-height: 100%;
  max-width: 100%;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-button-prev,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-button-prev {
  cursor: pointer;
  background: url('../img/category/left_arrow.png') center center no-repeat;
  background-size: 20px auto;
  top: 65%;
  left: 0;
  width: 50px;
  height: 50px;
}
html #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-button-next,
body #screen .swiper-wrapper #category .category-container .category-page .swiper-container .swiper-button-next {
  cursor: pointer;
  background: url('../img/category/right_arrow.png') center center no-repeat;
  background-size: 20px auto;
  top: 65%;
  right: 0px;
  width: 50px;
  height: 50px;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container {
  width: 100%;
  height: 12.2%;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container i,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container i {
  float: left;
  display: inline-block;
  width: 50%;
  height: 100%;
  background-color: #3d4145;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container .share-btn,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container .share-btn {
  background: url("../img/category/share_btn.png") center center no-repeat;
  background-size: 45% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container .back-btn,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container .back-btn {
  background: url("../img/category/back_btn.png") center center no-repeat;
  background-size: 50% auto;
}
html #screen .swiper-wrapper #category .category-container .category-page .btn-container:after,
body #screen .swiper-wrapper #category .category-container .category-page .btn-container:after {
  clear: both;
}
html #screen .swiper-wrapper #category .category-container .category-page .share-overlay,
body #screen .swiper-wrapper #category .category-container .category-page .share-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  background: url("../img/category/share-signal.png") center center no-repeat;
  background-size: 100% 100%;
  display: none;
}
html #screen .swiper-wrapper #category .category-container .category-page-3,
body #screen .swiper-wrapper #category .category-container .category-page-3 {
  background: url("../img/category/category_3_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
}
html #screen .swiper-wrapper #video .video-background,
body #screen .swiper-wrapper #video .video-background {
  width: 100%;
  height: 100%;
  background: url("../img/loading/loading_background.png") center center no-repeat;
  background-size: 100% 100%;
  text-align: center;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
html #screen .swiper-wrapper #video .video-background .cloud_1,
body #screen .swiper-wrapper #video .video-background .cloud_1 {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: auto;
}
html #screen .swiper-wrapper #video .video-background .cloud_2,
body #screen .swiper-wrapper #video .video-background .cloud_2 {
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: auto;
}
html #screen .swiper-wrapper #video .video-container,
body #screen .swiper-wrapper #video .video-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
}
html #screen .swiper-wrapper #video .video-container .video-container-overlay,
body #screen .swiper-wrapper #video .video-container .video-container-overlay {
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
}
html #screen .swiper-wrapper #video .video-container .close_btn,
body #screen .swiper-wrapper #video .video-container .close_btn {
  display: inline-block;
  width: 2.7rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/video/close_btn.png") center center no-repeat;
  background-size: 1.1rem 1.1rem;
}
html #screen .swiper-wrapper #video .video-container .logo,
body #screen .swiper-wrapper #video .video-container .logo {
  width: 100%;
  height: 2.2rem;
  background: url("../img/video/video_logo.png") center center no-repeat;
  background-size: auto 100%;
  position: absolute;
  top: 2.7rem;
  left: 0;
}
html #screen .swiper-wrapper #video .video-container .video-text,
body #screen .swiper-wrapper #video .video-container .video-text {
  width: 100%;
  height: 1.7rem;
  background: url("../img/video/video_text.png") center center no-repeat;
  background-size: auto 100%;
  position: absolute;
  bottom: 4.5rem;
  left: 0;
}
html #screen .swiper-wrapper #video .video-container #WxMomentVideo,
body #screen .swiper-wrapper #video .video-container #WxMomentVideo {
  position: absolute;
  width: 100%;
  height: 10.6rem;
  top: 29%;
  left: 0;
}
