*{
    margin:0;
    padding:0;
    list-style:none;
}

html,body,.expression{
    width:100%;
    height:100%;
}

html{
    font-size:20px;
}

/*body{*/
    /*background-color:rgb(87,87,87);*/
/*}*/

.clearfix:after{
    content:'';
    display:block;
    clear:both;
}

.hide{
    opacity:0;
}

.video-page{
    position:fixed;
    opacity:1;
    width:100%;
    height:100%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    z-index:10;
}

.video-page.hide{
    opacity:0;
}

#WxMomentVideo{
    display: none;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    background: rgb(87,87,87);
}

.video-mask{
    display: none;
    position: absolute;
    width:100%;
    height:100%;
    background-color:rgb(87,87,87);
    overflow: hidden;
    text-align:center;
    -webkit-transition: 1.5s;
    -moz-transition: 1.5s;
    -o-transition: 1.5s;
    transition: 1.5s;
    opacity:1;
}

.video-mask.hide{
    opacity:0.8;
}

.close-video{
    position: fixed;
    left:50%;
    top:74vh;
    width:80px;
    height:30px;
    margin:0 auto;
    margin-left:-40px;
    line-height:30px;
    margin-top:2rem;
    color:#ccc;
    font-size:0.6rem;
    text-align:center;
    z-index:11;
    background-image:url(../img/wechatfeeds/close-video.png);
    background-position:center center;
    background-size:100%;
}

.video-mask img{
    /*position: absolute;*/
    /*top:35vh;*/
    /*left:0;*/
    display:inline-block;
    width:60%;
    /*-webkit-transition: 1.5s;*/
    /*-moz-transition: 1.5s;*/
    /*-o-transition: 1.5s;*/
    /*transition: 1.5s;*/
    /*opacity:1;*/

}

.pics{
    width:100%;
    display: none;
}

.video-mask img.hide{
    opacity:0;
}

.copywriter{
    font-size:0.6rem;
    width:100%;
    text-align:center;
    line-height:1rem;
    background-color:#000;
    color:#ccc;
}

.expression{
    position: relative;
    background-image:url(../img/wechatfeeds/bg.png);
    background-repeat:no-repeat;
    background-size:100% auto;
    overflow: hidden;
    opacity: 0;
}

.expression.show{
    opacity: 1;
}

.top-part{
    position: relative;
    width:100%;
    height:41vh;
}

.words-pic{
    position: absolute;
    width:30%;
    top:1.5rem;
    right:8%;
}

.content-part{
    width:90%;
    height:35vh;
    margin:0 auto;
    border:1px solid rgb(229,229,229);
}

.pic-item{
    width:100%;
    height:100%;
    margin:0 auto;
}

.pic-item .item{
    width:33%;
    height:100%;
    float:left;
    text-align: center;
    border-right:1px solid rgb(229,229,229);
    border-bottom:1px solid rgb(229,229,229);
}
.pic-item .item img{
    max-width:95%;
    max-height:95%;
    vertical-align:middle;
}

.swiper-slide .item:nth-child(3),.swiper-slide .item:nth-child(6){
    border-right:none;
}


.bottom-part{
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    height:13vh;
}

.download-btns{
    float:left;
    width:45.5%;
    height:3rem;
    margin-left:3%;
    text-align:center;
}

.download-btns img{
    max-width:100%;
}

.swiper-button-next{
    position: fixed;
    background-image:url(../img/wechatfeeds/ptad-down-arrow.png) !important;
    background-size:100% !important;
    width:30px !important;
    height:15px !important;
    top:83% !important;
    left:50% !important;
    margin-left:-14px;
    z-index:9;
}
.swiper-button-prev{
    position: fixed;
    background-image:url(../img/wechatfeeds/ptad-up-arrow.png) !important;
    background-size:100% !important;
    width:30px !important;
    height:15px !important;
    top:39% !important;
    left:50% !important;
    margin-left:-14px;
    z-index:9;
}

.act-pic{
    display: none;
    position: fixed;
    z-index:12;
    border:1px solid #ccc;
    background-color:#fff;
    text-align: center;
}

.artMove{
    -webkit-animation: artPicMove .2s ease-out;
    -o-animation: artPicMove .2s ease-out;
    animation: artPicMove .2s ease-out;
}


@keyframes artPicMove {
    from{
        opacity:0;
        -webkit-transform: translateY(-1.5rem);
        -moz-transform: translateY(-1.5rem);
        -ms-transform: translateY(-1.5rem);
        -o-transform: translateY(-1.5rem);
        transform: translateY(-1.5rem);
    }
    to{
        opacity:1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }
}

.triangle-down{
    position: absolute;
    left:50%;
    margin-left:-10px;
    width:0;
    height:0;
    border-left:10px solid transparent;
    border-right:10px solid transparent;
}

.gray-arrow{
    bottom:-10px;
    border-top:10px solid #ccc;
}

.white-arrow{
    bottom:-9px;
    border-top:10px solid #fff;
}
