* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: auto;
  font-size: 40px;
  background-color: #ebebeb;
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html .clearfix:after,
body .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
html #lock_screen,
body #lock_screen {
  width: 100%;
  height: 100%;
  background: url("../img/lock_screen/lock_screen.jpg") center center no-repeat;
  background-size: 100% 100%;
  position: relative;
}
html #lock_screen .now-time,
body #lock_screen .now-time {
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
  font-size: 2rem;
  color: #fff;
  text-align: center;
}
html #lock_screen .now-time .mouth-and-day,
body #lock_screen .now-time .mouth-and-day {
  font-size: 1rem;
  display: inline-block;
  float: left;
  text-align: right;
  width: 50%;
}
html #lock_screen .now-time .week,
body #lock_screen .now-time .week {
  font-size: 1rem;
  display: inline-block;
  float: right;
  text-align: left;
  width: 45%;
  padding-left: 5%;
}
html #lock_screen .invitation-notification,
body #lock_screen .invitation-notification {
  background: url("../img/chat-bg.png");
  background-size: 100% 100%;
  height: 5rem;
  line-height: 5rem;
  position: absolute;
  top: 37%;
  font-size: 0.7rem;
  color: #000;
  text-align: left;
  width: 96%;
  left: 2%;
}
html #lock_screen .invitation-notification .invitation-desc,
body #lock_screen .invitation-notification .invitation-desc {
  padding-left: 0.8rem;
}
html #lock_screen .footer-bar,
body #lock_screen .footer-bar {
  position: absolute;
  bottom: 15%;
  width: 70%;
  left: 15%;
  text-align: center;
  font-size: 1rem;
  color: #fff;
}
html #lock_screen .audio_source,
body #lock_screen .audio_source {
  display: none;
}
html #lock_screen .original,
body #lock_screen .original {
  transform: translate(0px, 0px) !important;
  -webkit-transform: translate(0px, 0px) !important;
  -moz-transform: translate(0px, 0px) !important;
  transition: all linear 0.3s;
  -webkit-transition: all linear 0.3s;
  -moz-transition: all linear 0.3s;
}
html #lock_screen .swipe_hint,
body #lock_screen .swipe_hint {
  position: absolute;
  left: 219px;
  bottom: 167px;
  background: url('../img/lock_screen/swipe-hint.png') center center no-repeat;
  background-size: 7rem 9.4rem;
  width: 7rem;
  height: 1.175rem;
  animation: swipe steps(8) 0.7s infinite;
  -webkit-animation: swipe steps(8) 0.7s infinite;
  -webkit-transition: all linear 0.3s;
}
html #lock_screen .hot_area,
body #lock_screen .hot_area {
  position: absolute;
  left: 69px;
  bottom: 100px;
  width: 580px;
  height: 400px;
  -webkit-transition: all linear 0.3s;
}
@keyframes swipe {
  0% {
    background-position: 0px 0%;
  }
  100% {
    background-position: 0px -9.4rem;
  }
}
html #container,
body #container {
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
html #container .chat-list,
body #container .chat-list {
  list-style: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding-bottom: 2.5rem;
}
html #container .chat-list li,
body #container .chat-list li {
  margin: 17px 0 18px 0;
  width: 100%;
  display: none;
}
html #container .chat-list li .invitation-hints,
body #container .chat-list li .invitation-hints {
  width: 65%;
  margin: 0.5rem auto;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  text-align: center;
  font-size: 0.7rem;
  background-color: #cecece;
  color: #fff;
}
html #container .chat-list li .invitation-hints span,
body #container .chat-list li .invitation-hints span {
  color: #1A84F9;
  margin-left: 0.5rem;
}
html #container .chat-list li .left,
body #container .chat-list li .left {
  float: left;
  margin-left: 0.5rem;
  display: inline-block;
}
html #container .chat-list li .left img,
body #container .chat-list li .left img {
  width: 2.1rem;
  height: 2.1rem;
}
html #container .chat-list li .text,
body #container .chat-list li .text {
  float: left;
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 1rem;
  background: white;
  max-width: 12rem;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 0.65rem 0.6rem;
  position: relative;
}
html #container .chat-list li .text p,
body #container .chat-list li .text p {
  display: inline-block;
}
html #container .chat-list li .text .expression,
body #container .chat-list li .text .expression {
  width: 36px;
  height: 36px;
  display: inline-block;
}
html #container .chat-list li .text .expression img,
body #container .chat-list li .text .expression img {
  width: 100%;
}
html #container .chat-list li .text .arrow,
body #container .chat-list li .text .arrow {
  position: absolute;
  top: 0.65rem;
  left: -8px;
}
html #container .chat-list li .image,
body #container .chat-list li .image {
  float: left;
  margin-left: 1rem;
  width: 6rem;
  height: 6rem;
}
html #container .chat-list li .image img,
body #container .chat-list li .image img {
  width: 100%;
}
html #container .chat-list li .yuyin-image-13s,
body #container .chat-list li .yuyin-image-13s,
html #container .chat-list li .yuyin-image-4s,
body #container .chat-list li .yuyin-image-4s,
html #container .chat-list li .yuyin-image-14s,
body #container .chat-list li .yuyin-image-14s {
  float: left;
  margin-left: 1rem;
  height: 2.1rem;
  display: inline-block;
  font-size: 0.7rem;
  background: white;
  max-width: 12rem;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 0.5rem 0.6rem;
  position: relative;
}
html #container .chat-list li .yuyin-image-13s .arrow,
body #container .chat-list li .yuyin-image-13s .arrow,
html #container .chat-list li .yuyin-image-4s .arrow,
body #container .chat-list li .yuyin-image-4s .arrow,
html #container .chat-list li .yuyin-image-14s .arrow,
body #container .chat-list li .yuyin-image-14s .arrow {
  position: absolute;
  top: 0.65rem;
  left: -8px;
}
html #container .chat-list li .yuyin-image-13s .speaker,
body #container .chat-list li .yuyin-image-13s .speaker,
html #container .chat-list li .yuyin-image-4s .speaker,
body #container .chat-list li .yuyin-image-4s .speaker,
html #container .chat-list li .yuyin-image-14s .speaker,
body #container .chat-list li .yuyin-image-14s .speaker {
  width: 15px;
  height: 21px;
  float: left;
}
html #container .chat-list li .yuyin-image-13s .speaker img,
body #container .chat-list li .yuyin-image-13s .speaker img,
html #container .chat-list li .yuyin-image-4s .speaker img,
body #container .chat-list li .yuyin-image-4s .speaker img,
html #container .chat-list li .yuyin-image-14s .speaker img,
body #container .chat-list li .yuyin-image-14s .speaker img {
  width: 100%;
}
html #container .chat-list li .yuyin-image-13s,
body #container .chat-list li .yuyin-image-13s {
  width: 9rem;
}
html #container .chat-list li .yuyin-image-4s,
body #container .chat-list li .yuyin-image-4s {
  width: 4rem;
}
html #container .chat-list li .yuyin-image-14s,
body #container .chat-list li .yuyin-image-14s {
  width: 9.5rem;
}
html #container .chat-list li .speaker-time,
body #container .chat-list li .speaker-time {
  font-size: 0.7rem;
  color: #989898;
  height: 2.1rem;
  line-height: 2.1rem;
  margin-left: 0.3rem;
}
html #container .chat-list .user-replay,
body #container .chat-list .user-replay {
  margin: 17px 0 18px 0;
  width: 100%;
}
html #container .chat-list .user-replay .right,
body #container .chat-list .user-replay .right {
  float: right;
  margin-right: 0.5rem;
  display: inline-block;
}
html #container .chat-list .user-replay .right img,
body #container .chat-list .user-replay .right img {
  width: 2.1rem;
  height: 2.1rem;
}
html #container .chat-list .user-replay .text,
body #container .chat-list .user-replay .text {
  float: right;
  display: inline-block;
  font-size: 0.7rem;
  margin-right: 1rem;
  background-color: #A0E75A;
  max-width: 12rem;
  box-sizing: border-box;
  border: 1px solid #e4e4e4;
  border-radius: 8px;
  padding: 0.65rem 0.6rem;
  position: relative;
}
html #container .chat-list .user-replay .text .right-arrow,
body #container .chat-list .user-replay .text .right-arrow {
  position: absolute;
  top: 0.65rem;
  right: -8px;
}
html #container .bottom-bar,
body #container .bottom-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9;
  width: 100%;
  min-height: 2.1rem;
  background: url('../img/bottom-bar.jpg') no-repeat;
  background-size: 100%;
}
html #container .bottom-bar input,
body #container .bottom-bar input {
  width: 90%;
  height: 2.4rem;
  left: 10%;
  top: 16px;
  position: absolute;
  border: none;
  outline: none;
  background: none;
  font-size: 27px;
  line-height: 2.4rem;
}
